* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* header */

.navbar {
    background-color: #000;
    height: 46px;
    width: 100%;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 1;
}

.navbar__list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-bottom: 0px;
    

}

.navbar__item {
    position: relative;
}

.navbar__item:hover .subnav {
    display: block;
}

.navbar__item > a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 13px 20px;
    text-transform: uppercase;
}

.navbar__item > a:hover {
    background-color: #ccc;
    color: #000;
}

.search__icon {

}

.search__icon i {
    font-size: 1.6rem;
    color: #fff;
    padding: 15px 20px;
}

.search__icon i:hover {
    background-color: #f44336;
    color: #fff;
}

.subnav {
    position: absolute;
    left: 0;
    list-style: none;
    background-color: #fff;
    width: 160px;
    top: 34px;
    padding-left: 0px;
    display: none;
}

.subnav__item a:hover {
    background-color: #ccc;
    cursor: pointer;
}


.subnav__item a {
    color: #000;
    text-decoration: none;
    padding: 13px 19px;
    font-size: 1.5rem;
    display: inline-block;
    width: 100%;
}

.menu__bar {
    display: none;
}

.menu__bar:hover {
    background-color: #f44336;
    color: #fff;
}

.nav__mobile {
    background-color: #000;
    display:none;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
}

.nav__mobile-list {
    list-style: none;
    padding: 0px;

}

.nav__mobile-item {

}

.nav__mobile-item a {
    display: block;
    padding: 13px 20px;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

.nav__mobile-item a:hover {
    background-color: #ccc;
    color: #000;
}

.body {

}

.band__img {
    position: relative;
    margin-top: 46px;
}

.band__img img {
    max-height: 600px;
    width: 100%;
    
}

.band__img-text {
    position: absolute;
    bottom: 0;
    color: #fff;
    left: 50%;
    text-align: center;
    transform: translate(-50%);
    margin-bottom: 60px;
}

.band__img-text h1 {
    font-size: 2.4rem;
    margin-bottom: 20px;
}

.band__img-text h4 {
    font-size: 1.5rem;
}

.band__info{
    max-width: 800px;
    margin: 0px auto;
    padding: 64px 16px;
}

.band__heading {
    text-align: center;
    color: #000;
}

.band__heading h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom:25px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.band__heading p {
    font-size: 1.5rem;
    font-style: italic;
    opacity: 0.6;
}

.band__info-text p {
    margin-top: 15px;
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: justify;

}

.band__info-member-wrap {
    margin-top: 47px;
    display: flex;
    justify-content: space-around;
}

.band__info-member p {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.band__info-member img {
    width: 155px;
    height: 155px;
    border-radius: 8px;
}

.tour__place img:hover {
    opacity: 0.8;
}

.band__tour-wrap {
    background-color: #000;
}

.band__tour {
    max-width: 800px;
    margin: 0px auto;
    padding: 64px 16px;
}

.band__tour .band__heading {
    color: #fff;
}

.band__tour-month-list {
    list-style: none;
    background-color: #fff;
    padding: 0px;
    margin: 30px 0px;

}

.band__tour-month-item {
    color: #757575;
    font-size: 1.5rem;
    padding: 8px 16px;
    border-bottom: 1px solid #ccc;

}

.band__tour-month-item .ticket__sold-out {
    color: #fff;
    background-color: #f44336;
    padding: 2px;
    margin-left: 8px;
}

.band__tour-month-item .ticket__left {
    float: right;
    border-radius: 50%;
    padding: 1px 10px;
    background-color: #000;
    color: #fff;
}

.tour__place-wrap {
    display: flex;
    justify-content: space-between;
}

.tour__place {
    width: 32%;
    background-color: #fff;
    
}

.tour__place-info {
    padding: 0px 16px;

}

.tour__place img {
    width: 100%;
}

.tour__place h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 15px 0px;
}

.tour__date {
    font-size: 1.5rem;
    opacity: 0.6;
}

.tour__info {
    font-size:1.5rem;
    line-height: 1.4;
}

.tour__place .btn {
    background-color: #000;
    border-radius: 0px;
    color: #fff;
    font-size: 1.5rem;
    padding: 7px 15px;
    margin-bottom: 15px;

}

.tour__place .btn:hover {
    background-color: #ccc;
    color: #000;
}

.contact {
    max-width: 800px;
    margin: 0px auto;
    padding: 64px 16px;
}

.contact__info-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.contact__info {
    
}

.contact__info-list {
    list-style: none;
    padding: 0px;
}

.contact__info-item {

}

.contact__info-item span {
    font-size: 1.8rem;
}

.contact__info-item i {
    width: 30px;
    font-size: 1.8rem;
}

.contact__input {

}

.contact__name-email {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact__name-email input {
    width: 49%;
    font-size: 1.5rem;
    padding: 10px 10px;
    border: 1px solid #ccc;

}  

.contact__message {
    margin-bottom: 20px;

}

.contact__message input {
    width: 100%;
    font-size: 1.5rem;
    padding: 8px 10px;
    border: 1px solid #ccc;
}

.contact__btn {

}

.contact__btn .btn {
    padding: 8px 18px;
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    background-color: #000;
    border-radius: 0px;
    float: right;
}

.contact__btn .btn:hover {
    background-color: #ccc;
    color: #000;
}

.map {

}

.map img {
    width: 100%;
    filter: grayscale(50%);

}

footer {
    max-width: 800px;
    margin: 0px auto;
    padding: 64px 16px;
}

.social {

}

.social__list {
    list-style: none;
    text-align: center;

}

.social__item {
    margin: 0px 2px;
    display: inline-block;

}

.social__item i {
    font-size: 2.4rem;
    opacity: 0.6;
}

.social__item i:hover {
    opacity: 0.4;

}

.social p {
    text-align: center;
    font-size: 1.5rem;
    margin-top: 25px;
    opacity: 0.6;

}

.social p span {
    text-decoration: underline;
}

